{% extends 'index.html' %}
{% load static %}


{% block titulo %}
Contactos
{% endblock titulo %}


{% block imagen %}
{% static 'img/contactos.jpg' %}
{% endblock imagen %}


{% block titulo_principal %}
CONTACTANOS
{% endblock titulo_principal %}

{% block detalles %}
{% endblock detalles %}

{% block titulo_spam %}
{% endblock titulo_spam %}

{% block Contactos %}
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mb-5">
          <form method="post" class="p-5 bg-white">
            {% csrf_token %}
            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Nombre</label>
                {{ form.nombre }}
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Apellido</label>
                {{ form.apellidos }}
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="email">Correo</label>
                {{ form.correo }}
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="subject">Asunto</label>
                {{ form.asunto }}
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Mensaje</label>
                {{ form.mensaje }}
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary py-2 px-4 text-white">ENVIAR </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1636.0814162287706!2d-56.13427293177238!3d-34.902362969335954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x456238deb7d856d9!2sTech%20Group%20S.R.L.!5e0!3m2!1ses-419!2spy!4v1576509222254!5m2!1ses-419!2spy" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock Contactos %}
