{% extends 'index.html' %}
{% load static %}


{% block titulo %}
Contactos
{% endblock titulo %}


{% block imagen %}
{% static 'img/contactos.jpg' %}
{% endblock imagen %}


{% block titulo_principal %}
CONTACTANOS
{% endblock titulo_principal %}

{% block detalles %}
{% endblock detalles %}

{% block titulo_spam %}
{% endblock titulo_spam %}

{% block Contactos %}
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-7 mb-5">
          <form method="post" class="p-5 bg-white">
            {% csrf_token %}
            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Nombre</label>
                {{ form.nombre }}
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Apellido</label>
                {{ form.apellidos }}
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="email">Correo</label>
                {{ form.correo }}
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="subject">Asunto</label>
                {{ form.asunto }}
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Mensaje</label>
                {{ form.mensaje }}
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary py-2 px-4 text-white">ENVIAR </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.1744704072485!2d-56.13596628440222!3d-34.90207088038336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f813dd48faadf%3A0xf7c9f96cee0c263e!2sOf.%20102%2C%20Pedro%20Bustamante%201237%2C%2011300%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses-419!2spy!4v1576260211011!5m2!1ses-419!2spy" width="462" height="462" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock Contactos %}
