{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block titulo %}Grupo Tech | Soluciones Informaticas{% endblock titulo %}</title>
  <link rel="shortcut icon" href="http://www.grupo-tech.com/img/favicon.ico" type="image/x-icon">
  <!-- Bootstrap core CSS -->

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/contactos.css' %}" rel="stylesheet">
  <link href="{% static 'css/chat.css' %}" rel="stylesheet">
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
</head>

<body class="site-section bg-light">
 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <img src="https://cdn.discordapp.com/attachments/600792898359001092/652996172734136340/gruptech.png" width="40" height="50">
      <a class="navbar-brand" href="{% url 'blog:index' %}">GRUPO TECH</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:acerca_de' %}">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:Clientes' %}">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:Productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:Contactos' %}">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% block imagen %}{% static 'img/Inicio.jpg' %}{% endblock imagen %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{% block titulo_principal %}GRUPO TECH{% endblock titulo_principal %}</h1>
            <span class="subheading">{% block titulo_spam %}ASESORAMIENTO, DESARROLLO, IMPLANTACIÓN Y SOPORTE DE SOLUCIONES IT {% endblock titulo_spam %}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
  {% block detalles %}  
    <div class="site-section bg-light">
      {% if posts %}
        {% for post in posts %}
          <h1 align="center">{{ post.titulo }}</h1>
          <p> {{ post.contenido | safe }} </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
 {% endblock detalles %}

  {% block Contactos %}
  {% endblock Contactos %}

  <!-- Footer -->
  <footer class="site-section bg-light">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 mb-50 mx-auto">
            <p class="copyright text-muted">Grupo Tech. | Somos su socio tecnológico |</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% block chat %}
  <!--  CHAT  -->
  <div class="fabs">
    <div class="chat">
      <div class="chat_header">
        <span id="chat_head">Contáctate con nosotros</span>
        <div class="chat_loader"></div>
        <div class="chat_option"><i class="zmdi zmdi-more-vert"></i>
          <ul>
            <li><span class="chat_color" style="border:solid 5px #607d8b" color="blue-grey"></span></li>
            <li><span class="chat_color" style="border:solid 5px #2196F3" color="blue"></span></li>
            <li><span class="chat_color" style="border:solid 5px #00bcd4" color="cyan"></span></li>
            <li><span class="chat_color" style="border:solid 5px #4caf50" color="green"></span></li>
            <li><span class="chat_color" style="border:solid 5px #8bc34a" color="light-green"></span></li>
            <li><span class="chat_color" style="border:solid 5px #cddc39" color="lime"></span></li>
            <li><span class="chat_color" style="border:solid 5px #ffc107" color="amber"></span></li>
            <li><span class="chat_color" style="border:solid 5px #ff5722" color="deep-orange"></span></li>
          </ul>
        </div>
      </div>
    <div class="chat_login">
          <a id="chat_send_email" class="fab"><i class="zmdi zmdi-email"></i></a>
          <input id="chat_log_email" placeholder="Ingrese un correo"></input>
      <div class="chat_login_alert"></div>
      </div>
      <div id="chat_converse" class="chat_converse">
        <span class="chat_msg_item chat_msg_item_admin">
              <div class="chat_avatar">
                <i class="zmdi zmdi-account"></i>
              </div>¡Bienvenido!, en breve responderemos a tu consulta.</span>

       <!--   <span class="chat_msg_item chat_msg_item_user">
              <div class="chat_avatar">
                <i class="zmdi zmdi-account"></i>
              </div>Buenas..</span> -->
      </div>
      <div class="fab_field">
        <a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
        <textarea id="chatSend" name="chat_message" placeholder="Escriba el mensaje" class="chat_field chat_message"></textarea>
      </div>
    </div>
    <a id="prime" class="fab"><i class="prime zmdi zmdi-plus"></i></a>
  </div>
{% endblock chat %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>

</body>

</html>
