{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Productos
{% endblock titulo %}


{% block imagen %}
{% static 'img/productos.jpg' %}
{% endblock imagen %}

{% block titulo_principal %}
NUESTROS PRODUCTOS
{% endblock titulo_principal %}

{% block titulo_spam %}
{% endblock titulo_spam %}


{% block detalles %}
{% endblock detalles %}


{% block Contactos %}
	<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% if posts %}
	        {% for post in posts %}
	          <div class="post-preview">
	            <a href="{% url 'blog:detalle_post' post.slug %}">
	              <h2 class="post-title">
	                {{ post.titulo }}
	              </h2>
	              <h3 class="post-subtitle">
	                {{ post.descripcion }}
	              </h3>
	            </a>
	          </div>
	          <hr>
	    	{% endfor %}
       	{% else %}
       		<h1>No existen Productos registrados!.</h1>
       	{% endif %}
        </div>
      </div>
      <div class="row">
     	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
       		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
         	{% if posts.has_previous %}
              	<div class="clearfix">
                	<a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-left">Anterior</a>
              	</div>
         	{% endif %}
       		</div>
     	</div>
     	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
       		<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6  float-right">
         {% if posts.has_next %}
              	<div class="clearfix">
                	<a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&q={{ request.GET.search }}{% endif %}" class="btn btn-primary float-right">Siguiente</a>
              	</div>
         		{% endif %}
       			</div>
     		</div>
   		</div>
    </div>

{% endblock Contactos %}
